<%= form_with(model: team, local: true) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :team_name %>
  </div>

  <div class="field">
    <%= form.label :abbreviation %>
    <%= form.text_field :abbreviation, id: :team_abbreviation %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :team_location %>
  </div>

  <div class="field">
    <%= form.label :conference %>
    <%= form.text_field :conference, id: :team_conference %>
  </div>

  <div class="field">
    <%= form.label :division %>
    <%= form.text_field :division, id: :team_division %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
