<!DOCTYPE html>
<html>
  <head>
    <title>SurvivorFootball</title>
    <%= csrf_meta_tags %>

    <%= javascript_pack_tag 'application/index' %>
    <%= stylesheet_pack_tag 'application/assets/stylesheets/app' %>
  </head>

  <body>
    <%= render "shared/nav" %>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
